html {
    height: 100%;
}

body {
    font-family: 'Barlow Semi Condended', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.bg {
    background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.head {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    padding: 16px;
    padding-right: 16px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 7px;
}

.title {
    line-height: 3rem;
    color: #f1f1f1;
}

.scoreboard {
    position: relative;
    top: -144px;
    border-radius: 5px;
    height: 144px;
    width: 144px;
    background-color: #f1f1f1;
    text-align: center;
    color: #777777;
    float: right;
}

#score {
    display: block;
    font-size: 1rem;
    margin-top: 16px;
}

#scoreline {
    display: block;
    font-size: 5rem;
}

.gamepad {
    width: 540px;
    height: 500px;
    margin: auto;
    margin-top: 300px;
    background-image: url("./images/bg-triangle.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gamepad img {
    position: relative;
    top: 60px;
    left: 60px;
}

.circle {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 50%;
}

.circle-paper {
    top: -150px;
    left: -150px;  
}

.blue {
    background-color:hsl(230, 89%, 65%);
    box-shadow: 0px 6px hsl(230, 89%, 52%);
}

.circle-scissors {
    top: -450px;
    left: 390px;
}

.yellow {
    background-color: hsl(40, 84%, 53%);
    box-shadow: 0px 6px hsl(39, 89%, 49%)
}

.circle-rock {
    top: -310px;
    left: 120px;
}

.red {
    background-color: hsl(349, 70%, 56%);
    box-shadow: 0px 6px hsl(349, 71%, 52%);
}

.circle-inner {
    top: 26px;
    left: 20px;
    width: 260px;
    height: 260px;
    background-color: white;
    box-shadow: 0px -6px #cccccc;
}

.choices {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 120px;
    border: 1px solid white;
}

.choices img {
    position: relative;
    top: 20px;
    left: 20px;
}

.circle-player {
    top: 50px;
    left: -50px;
}

.circle-computer {
    top: -50px;
    left: 150px;
}

.hidden {
    background-color: #15183b;
}


.rulesBtn {
    width: auto;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

.btn {
    border: 2px solid #f1f1f1;
    border-radius: 7px;
    color: #f1f1f1;
    background-color: rgba(0 ,0 ,0 ,0);
    padding: 16px 80px;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover {
    background-color: #f1f1f1;
    color: #777777;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
 
