html {
    height: 100%;
}

body {
    font-family: 'Barlow Semi Condended', sans-serif;
    font-weight: 700;
    color: #f1f1f1;
}

.bg {
    background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.head {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    padding: 16px;
    padding-right: 8px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 7px;
}

.title {
    line-height: 1rem;
}

.scoreboard {
    position: relative;
    top: -54px;
    border-radius: 5px;
    height: 60px;
    width: 70px;
    background-color: #f1f1f1;
    text-align: center;
    color: #777777;
    float: right;
}

#score {
    display: block;
    font-size: 0.5rem;
    margin-top: 7px;
}

#scoreline {
    display: block;
    font-size: 2rem;
}

.gamepad {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 140px;
    text-align: center;
    background-image: url("./images/bg-triangle.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gamepad img {
    position: relative;
    top: 20px;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.circle-paper {
    top: -50px;
    left: -50px;  
}

.blue {
    background-color:hsl(230, 89%, 65%);
    box-shadow: 0px 6px hsl(230, 89%, 52%);
}

.circle-scissors {
    left: 150px;
    top: -150px;
}

.yellow {
    background-color: hsl(40, 84%, 53%);
    box-shadow: 0px 6px hsl(39, 89%, 49%);
}

.circle-rock {
    left: 50px;
    top: -100px;
}

.red {
    background-color: hsl(349, 70%, 56%);
    box-shadow: 0px 6px hsl(349, 71%, 52%);
}

.circle-inner {
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 6px #cccccc inset;
}

.choices {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}

.choices-title {
    position: relative;
    width: 120px;
    font-size: 0.75rem;
    text-align: center;
}

.c-t-1 {
    left: -60px;
}

.c-t-2 {
    top: -16px;
    left: 140px;
}

.choices img {
    position: relative;
    top: 20px;
    left: 20px;
}

.circle-player {
    top: 0px;
    left: -50px;
}

.circle-computer {
    top: -100px;
    left: 150px;
}

.hidden {
    background-color: #15183b;
}

.result {
    font-size: 1.5rem;
    text-align: center;
}

.playBtn {
    top: 10px;
}

.rulesBtn {
    top: 50px;
}

.center{
    text-align: center;
}

.btn {
    position: relative;
    border: 2px solid #f1f1f1;
    border-radius: 7px;
    color: #f1f1f1;
    background-color: rgba(0 ,0 ,0 ,0);
    padding: 8px 48px;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover {
    background-color: #f1f1f1;
    color: #777777;
}

.rules {
    position: fixed;
    top: 20px;
    left: 5%;
    width: 90%;
    height: calc(100% - 100px);
    background-color: #f1f1f1;
    background-image: url("./images/image-rules.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.rules-title {
    position: relative; 
    top: 1rem; 
    left: 10%;
    color: #777777; 
    font-size: 2rem; 
    width: 80%;
    margin-right: 1rem;
}

.rules-title img {
    float: right; 
    cursor: pointer;
}

.choices,
.result,
#playAgain,
.rules {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .head {
        width: 60%;
    }
}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .head {
        width: 50%;
    }

    .rules {
        top: 190px;
        left: 25%;
        width: 50%;
        height: calc(100% - 500px);
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .head {
        width: 30%;
    }

    .gamepad {
        width: 300px;
        height: 300px;
    }

    .gamepad img {
        top: 30px;
    }

    .circle {
        width: 160px;
        height: 160px;
    }

    .circle-scissors {
        top: -210px;
        left: 200px;
    }

    .circle-rock {
        left: 70px;
        top: -160px;
    }

    .circle-inner {
        width: 130px;
        height: 130px;
        top: 17px;
        left: 15px;
    }

    .choices {
        width: 300px;
        height: 300px;
        margin-top: 100px;
    }

    .choices img {
        top: 30px;
        left: 30px;
    }

    .c-t-1 {
        left: -60px;
    }
    
    .c-t-2 {
        left: 240px;
    }
    
    .circle-player {
        top: 20px;
        left: -80px;
    }
    
    .circle-computer {
        top: -140px;
        left: 220px;
    }

    .rules {
        top: 150px;
        left: 30%;
        width: 40%;
        height: calc(100% - 300px);
    }
}
 
